/* Write your CSS here */
.thumbnail-img {
  width: 290px;
  height: 180px;
}

.thumbnail-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

.model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-icon {
  /* align-self: flex-end; */
  width: 20px;
  height: 20px;
}

.close-icon-btn {
  background-color: transparent;
  align-self: flex-end;
  border: none;
  outline: none;
  cursor: pointer;
}

.model-container {
  padding: 17px;
}

.popup-content {
  border-radius: 14px;
}
